<%= render "header" %>

<div class="books-registration-contents">
  <div class="books-registration-main">
    <h2 class="books-registration-title">本の情報を入力</h2>
    <%= form_with model: @book, local: true do |f| %>
      <%# 本の分類分け %>
      <div class="new-books2">
        <div class="weight-bold-text2">
          登録日
          <span class="indispensable">必須</span>
        </div>
      </div>
      <%= f.text_field :record_date, class:"books-text", id:"book-record_date", placeholder:"登録日を記入", maxlength:"10" %>
      <div class="books-detail">
        <div class="weight-bold-text">
          本棚の選択
          <span class="indispensable">必須</span>
        </div>
          <div class="form">
          <%= f.collection_select(:reading_situation_id, ReadingSituation.all, :id, :name, {}, {class:"select-box", id:"book-reading-situation"}) %>
          </div>
      </div>
      <%# /本の分類分け %>

      <%# 表紙画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          表紙
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :cover, id:"book-cover" %>
        </div>
      </div>
      <%# /表紙画像 %>

      <%#　本の情報　%>
      <%# タイトル、ジャンル、著者、出版 %>
      <div class="new-books">
        <div class="weight-bold-text">
          タイトル
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :tilte, class:"books-text", id:"book-title", placeholder:"本のタイトル（必須 100文字まで)", maxlength:"100" %>
        <div class="books-explain">
          <div class="weight-bold-text">
            ジャンル
            <span class="indispensable2">任意</span>
          </div>
          <%= f.text_field :genre, class:"books-text", id:"book-genre", placeholder:"本のジャンル（任意 20文字まで）（小説、漫画、ビジネス書など）",maxlength:"20" %>
        </div>
        <div class="books-explain">
          <div class="weight-bold-text">
            著者
            <span class="indispensable2">任意</span>
          </div>
          <%= f.text_field :author, class:"books-text", id:"book-author", placeholder:"本の著者（任意 50文字まで）",maxlength:"50" %>
        </div>
        <div class="books-explain">
          <div class="weight-bold-text">
            出版
            <span class="indispensable2">任意</span>
          </div>
          <%= f.text_field :publishing, class:"books-text", id:"book-publishing", placeholder:"本の出版（任意 50文字まで）",maxlength:"50" %>
        </div>
      </div>
      <%# /商品名と商品説明 %>

      <%# メモ・感想・要約 %>
      <div class="books-explain">
          <div class="weight-bold-text">
            メモ
            <span class="indispensable2">任意</span>
          </div>
          <%= f.text_area :memo, class:"books-text", id:"book-memo", placeholder:"メモ（任意 200文字まで）" ,rows:"4" ,maxlength:"200" %>
      </div>
      <div class="books-explain">
          <div class="weight-bold-text">
            感想・要約
            <span class="indispensable2">任意</span>
          </div>
          <%= f.text_area :impression, class:"books-text", id:"book-impression", placeholder:"感想・要約（任意 3000文字まで）" ,rows:"7" ,maxlength:"3000" %>
      </div>
      <%# /メモ・感想・要約 %>

      <%# まとめ画像 %>
      <div class="img-upload">
        <div class="weight-bold-text">
          感想・要約（画像）
          <span class="indispensable2">任意</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
         </p>
         <%= f.file_field :image, id:"book-image" %>
        </div>
      </div>
     <%# /まとめ画像 %>
     <%# 下部ボタン %>
      <div class="registration-btn-contents1">
        <%= f.submit "登録する" ,class:"registration-btn" %>
      </div>
      <div class="registration-btn-contents2">
        <%=link_to 'もどる', root_path, class:"back-btn" %>
      </div>
      <%# /下部ボタン %>
  </div>
  <% end %>
</div>